/* part 1
.highlight {
    color: red;
} */

/* part 2 */
/* .highlight {
    background-color: aqua;
} 
.red {
    color: red;
} */

/* part 3
.common-style {
    background-color: aqua;
} */

/* .highlight {
    background-color: blueviolet;
} */